@use "../base" as *;
@use "../layout";
@import "../animation";

.s-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    @include transition;

    .bg-glr-blue {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -20;
        opacity: 0.25;
    }

    .flex-col {
        justify-content: space-between;
    }

    .flex {
        flex-direction: column;
        gap: 1rem;
        margin-top: 6rem;
    }

    .content-w {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 2.5rem;

        &-big {
            @extend .content-w;
            width: 100%;
            gap: 0;
        }

        svg {
            display: none;
            padding-bottom: 6rem;
            height: 3rem;
            color: $light-blue;
        }

        @include responsive($screen-sm) {
            svg {
                display: inline;
                height: 6rem;
            }
        }

        @include responsive($screen-xl) {
            svg {
                height: 9rem;
            }
        }

        .flex-row {
            justify-content: space-between;
            align-items: flex-end;
            gap: 3rem;
            height: fit-content;
        }

        .hero-title {
            @include transition(500ms);

            &-big {
                @extend .hero-title;
                font-size: calc(18vw);
                line-height: 1;
                font-weight: $font-black;
                letter-spacing: -0.025em;

                &-top {
                    @extend .hero-title-big;
                    padding-top: 2rem;
                }

                &-bottom {
                    @extend .hero-title-big;
                    padding-bottom: 2rem;
                }
            }

            &-generic {
                @extend .hero-title;
                @include text-size(5xl);
                font-weight: $font-black;
            }

            @include responsive($screen-xs) {
                &-big {
                    font-size: calc(18vw);
                }
            }

            @include responsive($screen-sm) {
                &-big {
                    font-size: calc(15vw);

                    &-top {
                        padding-top: 8rem;
                    }

                    &-bottom {
                        padding-bottom: 6rem;
                    }
                }
            }

            @include responsive($screen-lg) {
                &-big {
                    font-size: calc(14vw);
                }

                &-generic {
                    @include text-size(6xl);
                }
            }
        }

        .hero-desc {
            @include text-size(md);
            display: block;
            line-height: 2rem;
            padding-bottom: 0.5rem;

            &-big {
                @extend .hero-desc;
                display: none;
                max-width: 24rem;
            }

            &-m {
                @include text-size(sm);
                line-height: 1.5rem;
                display: block;
            }
        }

        @include responsive($screen-sm) {
            .hero-desc {
                &-big {
                    display: block;
                }

                &-m {
                    display: none;
                }
            }
        }
    }

    .hero-image {
        transform: rotate(-5deg);
        align-self: center;
        filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15));

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            overflow: hidden;
        }
    }

    .feat-container {
        padding: 1rem 0 1rem;

        .grid-wrapper {
            @include grid-auto-fit(2, 0);
        }

        .feat-item {
            display: flex;
            align-items: center;
            color: $gray-500;
            gap: 0.5rem;
            @include text-size(sm);
            @include transition;
        }

        .feat-icon {
            width: 3rem;
            color: $dark-blue;
            transition: all 400ms;
        }

        @include responsive($screen-md) {
            .grid-wrapper {
                display: flex;
                justify-content: space-between;
            }

            .feat-icon {
                width: 3.5rem;
            }
        }

        @include responsive($screen-ml) {
            .feat-item {
                @include text-size(md);
            }

            .feat-icon {
                width: 4rem;
            }
        }
    }

    @include responsive($screen-sm) {
        .flex {
            flex-direction: row;
            gap: 3rem;
            align-items: center;
            margin-top: 0;
        }

        .content-w {
            width: 50%;

            &-big {
                width: 100%;
            }
        }

        .hero-image {
            width: 50%;
            max-width: 32rem;
        }
    }

    @include responsive($screen-lg) {
        .flex {
            align-items: center;
            gap: 6rem;
        }
    }
}

.s-showcase {
    position: relative;
    margin-top: 5rem;
    z-index: 5;

    .grid-wrapper {
        @include grid-auto-fit(1);
    }

    @include responsive($screen-sm) {
        .grid-wrapper {
            @include grid-auto-fit(2);
        }
    }

    @include responsive($screen-md) {
        .grid-wrapper {
            @include grid-auto-fit;
        }

        .item-down {
            margin-top: 5rem;
        }

        .item-end {
            display: none;
        }
    }

    @include responsive($screen-xl) {
        .item-end {
            display: flex;
        }
    }

    .card-container {
        height: 34rem;
        padding: 0;
        border: 1px solid $gray-100;
        gap: 0;

        .content-w {
            position: relative;
            z-index: 30;
            height: 50%;
            width: fit-content;
            justify-content: space-between;
            padding: 1.5rem;

            @include transition(400ms);

            .card-icon {
                display: flex;
                justify-content: flex-end;

                svg {
                    width: 1rem;
                }
            }

            .category-wrapper {
                color: white;
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
            }
        }

        .bg-white {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            visibility: hidden;
            border-radius: 1.5rem;
            z-index: 20;

            @include transition(300ms);
        }

        .bg-shadow {
            display: none;
            position: absolute;
            bottom: 0;
            background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
            width: 100%;
            height: 50%;
            opacity: 0.7;
            z-index: 10;
        }

        .card-image {
            position: relative;
            object-fit: cover;
            left: 50%;
            transform: translate(-50%, 0%);
            height: 50%;
            width: 100%;
            z-index: 0;
            pointer-events: none;
        }

        @include responsive($screen-sm) {
            height: 24rem;
            border: 0;

            .content-w {
                height: 100%;
                justify-content: end;
                box-sizing: border-box;

                .card-filler,
                .subcontent-w,
                .card-icon,
                .card-desc {
                    @include transition(400ms);
                }

                .card-filler {
                    display: flex;
                    flex-grow: 1;
                }

                .subcontent-w {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 0;
                }

                .card-title,
                .card-subtitle {
                    color: white;
                    @include transition;
                }

                .card-desc,
                .card-icon {
                    display: flex;
                    flex-grow: 0;
                    height: 0;
                    visibility: hidden;

                    transform: translateY(24rem);
                }

                .card-desc {
                    align-items: center;
                }

                .card-icon {
                    align-items: end;
                }
            }

            &:hover {
                .content-w {
                    height: 100%;
                    justify-content: space-between;

                    .card-filler {
                        flex-grow: 0;
                    }

                    .subcontent-w {
                        flex-grow: 1;
                    }

                    .card-title,
                    .card-subtitle {
                        color: black;
                    }

                    .card-desc,
                    .card-icon {
                        visibility: visible;
                        flex-grow: 1;
                        transform: translateY(0);
                    }

                    .category-wrapper {
                        color: black;
                    }
                }

                .bg-white {
                    transform: translateY(0);
                    visibility: visible;
                }
            }

            .bg-shadow {
                display: block;
            }

            .card-image {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
            }
        }
    }
}

.s-service {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 4rem;
    height: fit-content;

    .container {
        display: flex;
        gap: 3rem;
    }

    .section-title.flex {
        flex: 1 0 0;
        flex-direction: column;
        user-select: none;

        @include responsive($screen-ml) {
            @include text-size(5xl);
        }

        br {
            display: inline;
        }

        > .flex-col {
            width: auto;
            height: auto;
        }
    }

    .service-container {
        flex: 2 0 0;

        .service-wrapper {
            display: flex;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;

            .flex-col {
                gap: 1.5rem;
            }
        }
    }
}

.s-portfolio {
    position: relative;
    padding-bottom: 4rem;

    @include responsive($screen-sm) {
        margin-top: 6rem;
    }

    .flex-col {
        gap: 4rem;
    }

    .grid-wrapper {
        @include grid-auto-fit(1);

        @include responsive($screen-sm) {
            @include grid-auto-fit(2);
        }

        @include responsive($screen-xl) {
            @include grid-auto-fit;
        }
    }

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 1.2rem;

        img.card-image {
            height: 20rem;
            border-radius: 1rem;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .text {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
        }
    }

    .btn-wrapper {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }
}
