@use "../base" as *;
@use "../layout";
@use "../components/hero-title";
@include text-colors();

#works {
    padding: 7rem 0;

    .hero {
        height: 16rem;

        .hero-title-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            row-gap: 1.5rem;

            .hero-desc {
                @include text-size(lg);
            }
        }
    }

    .collection {
        margin-top: 5rem;
    }
}

#works_single {
    padding: 4rem 0;
    padding-bottom: 8rem;

    .s-hero-work {
        padding: 5rem 0;

        .hero-wrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .hero-info {
                width: 50%;
                display: inline-flex;
                flex-direction: column;
                gap: 0.5rem;

                .category {
                    @include text-size(sm);
                    font-weight: $font-bold;
                }

                .timeline {
                    @include text-size(lg);
                }

                .flex-row {
                    column-gap: 0.5rem;
                }
            }

            .hero-heading {
                width: 50%;
                display: inline-flex;
                flex-direction: column;
                gap: 2rem;

                .hero-title-wrapper {
                    display: inline-flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }

                .hero-project-name {
                    @include text-size(sm);
                    font-weight: $font-bold;
                }

                .hero-title-generic {
                    line-height: 1.2;
                }

                .hero-desc {
                    @include text-size(xl);
                    line-height: 1.8;
                }
            }
        }
    }

    .s-image-cover {
        overflow: hidden;
        position: relative; /* Add this for absolute positioning */

        /* Set a fixed aspect ratio */
        width: 100%;
        padding-top: 50%; /* Change this value to set height (16:9 aspect ratio) */

        img {
            position: absolute; /* Position the image absolutely within the container */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Maintain aspect ratio and cover the container */
        }
    }

    .s-detail {
        .column-container-aside {
            position: relative;
        }

        .column-container-aside::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            background-color: white;
            z-index: -1;
        }

        .column-content {
            margin-left: 50%;
            padding: 20px;
        }

        .body-wrapper {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            margin: 7rem auto;
        }

        .body-content {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h3 {
                @include text-size(3xl);
                font-weight: $font-semibold;
            }

            p {
                line-height: 1.7;
            }

            .workscope-content {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                h4 {
                    @include text-size(xl);
                    font-weight: $font-semibold;
                }
            }
        }

        .image-filler {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);

            &-wrapper {
                border-radius: 1rem;
                overflow: hidden;
                position: relative; /* Add this for absolute positioning */

                /* Set a fixed aspect ratio */
                width: 100%;
                padding-top: 100%; /* Change this value to set height (1:1 aspect ratio) */

                img {
                    position: absolute; /* Position the image absolutely within the container */
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover; /* Maintain aspect ratio and cover the container */
                }
            }
        }

        .body-feature-wrapper {
           
            padding: 0 0 8rem 0;
            display: flex;
            flex-direction: column;
            gap: 5rem;

            .body-feature-item {
               
                display: grid;
                gap: 2rem;
                grid-template-columns: repeat(2, 1fr);
            }

            .body-content {
                justify-content: center;
            }

            .reverse-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
              }
              
              .order-1 {
                order: 1;
              }
              
              .order-2 {
                order: 2;
              }
        }
    }
}
