// VARIABLE
// Colors
// Primary Color
$dark-blue: #1e5dab;
$mid-blue: #22a8e0;
$light-blue: #72d0f6;
$gray-blue: #edf4fa;

// Secondary Color
$gray-50: #f8f8f8;
$gray-100: #e5e5e5;
$gray-200: #c9c9c9;
$gray-300: #aeaeae;
$gray-400: #838383;
$gray-500: #3a3a3a;
$gray-600: #1a1a1a;

// Screen Size
$screen-xs: 400px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-ml: 900px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1366px;
$screen-3xl: 1440px;
$screen-4xl: 1536px;

// Font Weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 800;

// Font Size
$text-sizes: (
    xs: (
        font-size: 0.75rem,
        line-height: 1rem,
    ),
    sm: (
        font-size: 0.875rem,
        line-height: 1.25rem,
    ),
    md: (
        font-size: 1rem,
        line-height: 1.5rem,
    ),
    lg: (
        font-size: 1.125rem,
        line-height: 1.75rem,
    ),
    xl: (
        font-size: 1.25rem,
        line-height: 1.75rem,
    ),
    2xl: (
        font-size: 1.5rem,
        line-height: 2rem,
    ),
    3xl: (
        font-size: 1.875rem,
        line-height: 2.25rem,
    ),
    4xl: (
        font-size: 2.25rem,
        line-height: 2.5rem,
    ),
    5xl: (
        font-size: 3rem,
        line-height: 1,
    ),
    6xl: (
        font-size: 3.75rem,
        line-height: 1,
    ),
);

$bg-colors: (
    white: (
        background-color: white,
        background-image: transparent,
    ),

    gray-600: (
        background-color: $gray-600,
        background-image: transparent,
    ),

    glr-blue: (
        background-color: transparent,
        background-image: linear-gradient(to right, $light-blue, white),
    ),
);

$text-colors: (
    white: (
        color: white,
    ),
    gray-100: (
        color: $gray-100,
    ),
    gray-400: (
        color: $gray-400,
    ),
    dark-blue: (
        color: $dark-blue,
    ),
);

.text-blue-g {
    background-image: linear-gradient(
        to right,
        $mid-blue,
        $mid-blue,
        $dark-blue
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: fit-content;
}

// THEME
@mixin bg-colors() {
    @each $color, $properties in $bg-colors {
        .bg-#{"" + $color} {
            background-color: map-get($properties, background-color);
            background-image: map-get($properties, background-image);
        }
    }
}

@mixin text-colors {
    @each $color, $properties in $text-colors {
        .text-#{$color} {
            color: map-get($properties, color);
        }
    }
}

@mixin text-size($size) {
    font-size: map-get(map-get($text-sizes, $size), font-size);
    line-height: map-get(map-get($text-sizes, $size), line-height);
}

@mixin transition($duration: 200ms) {
    transition: all $duration cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@mixin grid-auto-fit($column: auto-fit, $width: 200px) {
    grid-template-columns: repeat($column, minmax($width, 1fr));
}

@mixin responsive($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin scaffolding($type: border, $color: red) {
    @if $type == border {
        border: 1px solid $color;
    } @else if $type == background-color {
        background-color: $color;
    }
}
  