@use "../base" as *;

.icon-w {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    svg {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
