/* @import url("animation.css"); */

/* || VARIABLES */

:root {
    /* Font Sizes */
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;

    /* Leading */
    --leading-xs: 1rem;
    --leading-sm: 1.25rem;
    --leading-base: 1.5rem;
    --leading-lg: 1.75rem;
    --leading-xl: 1.75rem;
    --leading-2xl: 2rem;
    --leading-3xl: 2.25rem;
    --leading-4xl: 2.5rem;
    --leading-5xl: 1;

    /* Font Weight */
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-black: 800;

    /* Primary Color */
    --dark-blue: #1e5dab;
    --mid-blue: #22a8e0;
    --light-blue: #72d0f6;

    /* Secondary Color */
    --gray-100: #f8f8f8;
    --gray-200: #c9c9c9;
    --gray-300: #aeaeae;
    --gray-400: #838383;
    --gray-500: #3a3a3a;
    --gray-600: #1a1a1a;
}

/* Custom Text Color */
.text-blue-g {
    background-image: linear-gradient(
        to right,
        var(--mid-blue),
        var(--mid-blue),
        var(--dark-blue)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Background Color */
/* .bg-white {
    background-color: white;
}

.bg-blue-g {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--light-blue), white);
    z-index: -10;
    opacity: 0.25;
} */

/* Button */

/* Layouts */

/* || SITE PARTIALS */


/* Footer section */
/* footer {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: var(--gray-600);
}

footer .background {
    position: absolute;
    top: -12rem;
    left: -6rem;
    width: 40rem;
    height: 40rem;
    opacity: 0.3;
    background-image: radial-gradient(
        var(--dark-blue),
        var(--dark-blue),
        var(--gray-600),
        var(--gray-600)
    );
}

footer hr {
    border: 0.5px solid var(--gray-500);
}

footer .s-cta {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: 5rem 0;
}

footer .s-cta .cta-w {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    width: 100%;
}

footer .s-cta .section-title {
    color: white;
    text-align: center;
}

footer .s-cta .btn-w {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
}

footer .s-cta ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    color: white;
}

footer .s-cta li {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

footer .s-cta ul svg {
    width: 1.75rem;
    color: var(--mid-blue);
}

footer .s-company {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    padding: 2.5rem 0;
    font-size: var(--text-sm);
}

footer .s-company img {
    max-width: 9rem;
}

footer .s-company p {
    order: 3;
}

footer .s-company ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    order: 2;
}

footer .s-company li {
    transition: all 300ms;
}

footer .s-company li:hover {
    text-decoration: underline;
    font-weight: var(--font-semibold);
} */

/* || 404 NOT FOUND */

/* Service section */

/* Portfolio section */
.s-portfolio {
    position: relative;
    margin-top: 4rem;
}

.s-portfolio .portfolio-w {
    display: flex;
    height: fit-content;
    flex-direction: column;
    row-gap: 2.5rem;
}

.s-portfolio .title-w {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    text-align: center;
}

.s-portfolio .card-w {
    display: grid;
    justify-content: space-between;
    gap: 2rem;
    transition: all 300ms;
}

.s-portfolio .card {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    background-color: white;
    border-radius: 1.5rem;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-portfolio .card:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15));
}

.s-portfolio .card img {
    object-fit: cover;
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 24rem;
    border-radius: 1rem;
}

.s-portfolio .card .title {
    margin-top: 1.5rem;
    font-size: var(--text-2xl);
    line-height: var(--leading-2xl);
    font-weight: var(--font-bold);
}

.s-portfolio .card .desc {
    margin-top: 1rem;
    font-size: var(--text-sm);
    line-height: 1.5;
}

.s-portfolio .card .btn-card {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--font-semibold);
}

.s-portfolio .btn-card svg {
    height: 1rem;
    width: 1rem;
}

.s-portfolio .btn-portfolio {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

/* Testimonial section */
.s-testimoni {
    position: relative;
    margin-top: 5rem;
    /* background-color: var(--gray-200); */
    background-image: linear-gradient(
        to left,
        white,
        var(--gray-200),
        var(--gray-200)
    );
}

.s-testimoni .container {
    padding: 2rem 0;
}

.s-testimoni .testimoni-w {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}

.s-testimoni .testimoni-w > img {
    object-fit: contain;
    margin: 2.5rem 0;
    width: 100%;
    pointer-events: none;
    filter: drop-shadow(0 20px 15px rgba(0, 0, 0, 0.1));
}

.s-testimoni .testimoni-w .content-w {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.s-testimoni .content-w svg {
    position: absolute;
    height: fit-content;
    width: 3rem;
    color: var(--mid-blue);
}

.s-testimoni .content-w .quote {
    padding: 0 2rem;
    padding-top: 1rem;
    font-size: var(--text-xl);
    z-index: 20;
    font-weight: var(--font-medium);
}

.s-testimoni .content-w .profile-w {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    padding: 0 2rem;
}

.s-testimoni .profile-w img {
    height: 4rem;
    width: 4rem;
    border-radius: 9999px;
    object-fit: cover;
}

.s-testimoni .profile-w .name {
    font-size: var(--text-xl);
    font-weight: var(--font-semibold);
}

.s-testimoni .profile-w .position {
    font-size: var(--text-md);
    color: var(--gray-500);
}

.s-testimoni .slider {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-self: center;
    rotate: -90deg;
}

.s-testimoni .slider svg {
    height: fit-content;
    width: 0.5rem;
    color: var(--gray-400);
}

/* || RESPONSIVES */
@media screen and (min-width: 400px) {
    .row-w .title {
        font-size: calc(18vw);
        line-height: 1;
    }
}

@media screen and (min-width: 640px) {
    /* Layout */
    .section-title {
        font-size: var(--text-5xl);
        line-height: var(--leading-5xl);
    }

    .flex-ac-jb {
        flex-direction: row;
    }

    /* Button */
    .btn-primary {
        padding: 1rem 1.5rem;
        width: fit-content;
    }

    .btn-secondary {
        padding: 1rem 1.5rem;
        width: fit-content;
    }

    /* || SITE PARTIALS */
    /* Navigation */
    /* header {
        height: 5rem;
    }

    .navbar .logo-full {
        display: inline;
    }

    .navbar .logo-icon {
        display: none;
    } */

    /* Footer */
    /* footer .background {
        left: -4rem;
    }

    footer .s-cta {
        flex-direction: row;
        column-gap: 4rem;
        justify-content: space-between;
        align-items: center;
    }

    footer .s-cta .cta-w {
        width: 60%;
        row-gap: 4rem;
    }

    footer .s-cta .section-title {
        text-align: left;
    }

    footer .s-cta .btn-w {
        flex-direction: row;
        column-gap: 1.5rem;
    }

    footer .s-company {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        column-gap: 2rem;
    }

    footer .s-company p {
        order: 2;
    }

    footer .s-company ul {
        flex-direction: row;
        column-gap: 1.5rem;
        order: 3;
    } */

    /* Portfolio section */
    .s-portfolio {
        margin-top: 6rem;
    }

    /* Testimonial section */
    .s-testimoni .content-w .quote {
        font-size: var(--text-2xl);
        line-height: 1.5;
    }
}

@media screen and (min-width: 768px) {
    /* Testimonial section */
    .s-testimoni .testimoni-w {
        flex-direction: row;
    }

    .s-testimoni .slider {
        rotate: 0deg;
    }

    .s-testimoni .testimoni-w > img {
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    /* || SITE PARTIALS */
    /* Navigation */
    /* .navbar .menu-w {
        display: flex;
        column-gap: calc(3.75vw);
    } */

    /* Footer */
    /* footer .s-cta .cta-w {
        width: 50%;
    } */

    /* Service section */
    .s-service .title {
        font-size: 3rem;
        line-height: 1;
    }
}
