.gradient-text {
    background-image: linear-gradient(to right, #22a8e0, #22a8e0, #265888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-hidden {
    transform: translateY(-100%);
}

.dropdown-arrow::after {
    content: "";
    position: absolute;
    top: -11%;
    left: 15%;
    border-width: 12px;
    border-style: solid;
    z-index: 40;
    border-color: transparent transparent #fff transparent;
}

/* Navbar */
.nav-dropdown-hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}

.nav-dropdown-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* List */
.list-collapse-hide {
    position: relative;
    height: 0;
    overflow: hidden;
    transform: translateY(-100%);
    transition-property: all;
    transition-duration: 200ms;
}

.list-collapse-show {
    position: relative;
    height: fit-content;
    overflow: hidden;
    transform: translateY(0);
    transition-property: all;
    transition-duration: 200ms;
}

.accordion-btn-show {
    display: none;
}