@use "../../base" as *;
@use "../../layout";
@include text-colors();

header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: transparent;
    height: 4rem;
    box-sizing: border-box;
    @include transition(400ms);

    @include responsive($screen-sm) {
        height: 5rem;
    }

    &:hover {
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1);
    }

    &.navbar-hidden {
        visibility: hidden;
        transform: translateY(-100%);
    }

    .menu-btn-w {
        display: inline-block;

        @include responsive($screen-ml) {
            display: none;
        }

        .menu-btn {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 20px;

            .bar {
                width: 24px;
                height: 2px;
                border-radius: 9999px;
                background-color: #333;
                transition: transform 0.3s, opacity 0.3s;
            }

            &.open .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            &.open .bar:nth-child(2) {
                opacity: 0;
                transform: rotate(45deg);
            }

            &.open .bar:nth-child(3) {
                transform: translateY(-9.75px) rotate(-45deg);
            }
        }
    }

    nav#navbar-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;

        .logo-full {
            display: none;
            width: auto;
            height: 2rem;

            @include responsive($screen-sm) {
                display: inline;
            }
        }

        .logo-icon {
            width: auto;
            height: 2rem;

            @include responsive($screen-sm) {
                display: none;
            }
        }

        .menu-icon {
            width: 1rem;
            height: 1rem;

            @include transition(200ms);
        }

        .subitem-icon {
            color: $gray-400;
            width: 1.5rem;
            height: 1.5rem;
            @include transition;
        }

        .btn-nav-w {
            display: none;
            column-gap: 1rem;

            @include responsive($screen-ml) {
                display: flex;
            }
        }

        .btn-lang {
            display: flex;
            column-gap: 0.25rem;
            align-items: center;
            font-weight: $font-semibold;
            color: $gray-500;

            .icon-lang {
                width: 1.5rem;
                margin-right: 0.25rem;
                color: $gray-400;
            }
        }

        .btn-nav {
            svg {
                width: 1.5rem;
                color: white;
            }
        }

        .menu-w {
            position: relative;
            display: none;
            height: 100%;
            @include transition;

            @include responsive($screen-ml) {
                display: flex;
                align-items: center;
                column-gap: calc(3.75vw);
            }

            .item-w {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;

                .rotate-arrow {
                    transform: rotate(
                        180deg
                    ); /* Rotate the arrow 180 degrees on hover */
                }

                .hover-area {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                .hover-area-stretch {
                    height: 160%;
                }
            }

            .item {
                z-index: 10;
                display: flex;
                width: fit-content;
                font-weight: $font-semibold;
                text-transform: uppercase;
                align-items: center;
                height: 100%;
                column-gap: 0.25rem;
                @include text-size(xs);
                @include transition;

                &:hover {
                    color: $dark-blue;
                }
            }

            .item-focus {
                color: $dark-blue;
            }

            .nav-dropdown-hide {
                opacity: 0;
                visibility: hidden;
                transform: translateY(20px);
            }

            .nav-dropdown-show {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }

            .item-dropdown {
                overflow: hidden;
                position: absolute;
                left: -2rem;
                top: 100%;
                z-index: 10;
                margin-top: 1rem;
                background-color: white;
                width: 100vw;
                max-width: 22rem;
                border-radius: 1rem;
                box-sizing: border-box;
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                    0 4px 6px -2px rgba(0, 0, 0, 0.05);
                @include transition(300ms);
                @include text-size(sm);

                .dropdown-banner {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;
                    background-color: $gray-blue;
                    padding: 1.5rem;
                    box-sizing: border-box;

                    .banner-desc {
                        max-width: 80%;
                        color: $gray-500;
                        font-weight: $font-medium;
                    }
                }

                .dropdown-w {
                    padding: 0.8rem;

                    .inactive {
                        pointer-events: none;
                        cursor: not-allowed;
                        color: $gray-200 !important;
                    }

                    .subitem {
                        display: flex;
                        position: relative;
                        padding: 0.8rem;
                        align-items: center;
                        border-radius: 0.5rem;
                        column-gap: 1.5rem;
                        @include transition;

                        &:hover {
                            background-color: $gray-50;
                        }

                        &:hover .icon-w {
                            background-color: white;
                        }

                        &:hover .subitem-icon {
                            color: $mid-blue;
                            transform: scale(1.2);
                        }

                        &:hover .title {
                            color: $dark-blue;
                        }

                        .icon-w {
                            display: flex;
                            flex: none;
                            justify-content: center;
                            align-items: center;
                            width: 2.75rem;
                            height: 2.75rem;
                            border-radius: 0.5rem;
                            background-color: $gray-50;
                            @include transition;
                        }

                        .content-w {
                            flex: 1 1 auto;
                        }

                        .title {
                            display: block;
                            color: $gray-500;
                            font-weight: $font-semibold;
                        }

                        span {
                            position: absolute;
                            inset: 0;
                        }

                        .desc {
                            display: block;
                            margin-top: 0.5rem;
                            color: $gray-400;
                        }
                    }
                }
            }
        }
    }

    nav#sidebar-menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;

        @include responsive($screen-ml) {
            display: none;
        }

        .nav-container {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 50;
            overflow-y: auto;

            @include transition(350ms);

            &.active {
                visibility: visible;
                transform: translateX(0);
            }
            &.inactive {
                visibility: hidden;
                transform: translateX(100%);
            }

            .menu-group {
                height: 100%;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .item-focus {
                    color: $dark-blue;
                }

                .menu-item {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;

                    @include text-size(xl);
                    font-weight: $font-semibold;

                    .menu-icon {
                        width: 2rem;
                        height: 2rem;

                        @include transition(200ms);

                        &.rotate-arrow {
                            transform: rotate(180deg);
                        }
                    }
                }

                .nav-dropdown-hide {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                    transform: translateY(20px);
                }

                .nav-dropdown-show {
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                    transform: translateY(0);
                }

                .item-dropdown {
                    overflow: hidden;
                    z-index: 10;
                    margin-top: 1rem;
                    background-color: white;
                    width: 100%;
                    border-radius: 1rem;
                    box-sizing: border-box;
                    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                        0 4px 6px -2px rgba(0, 0, 0, 0.05);
                    @include transition(300ms);
                    @include text-size(sm);

                    .dropdown-banner {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        row-gap: 1rem;
                        background-color: $gray-blue;
                        padding: 1.5rem;
                        box-sizing: border-box;

                        .banner-desc {
                            max-width: 80%;
                            color: $gray-500;
                            font-weight: $font-medium;
                        }
                    }

                    .dropdown-w {
                        padding: 0.8rem;

                        .inactive {
                            pointer-events: none;
                            cursor: not-allowed;
                            color: $gray-200 !important;
                        }

                        .subitem {
                            display: flex;
                            position: relative;
                            padding: 0.8rem;
                            align-items: center;
                            border-radius: 0.5rem;
                            column-gap: 1.5rem;
                            @include transition;

                            .icon-w {
                                display: flex;
                                flex: none;
                                justify-content: center;
                                align-items: center;
                                width: 2.75rem;
                                height: 2.75rem;
                                border-radius: 0.5rem;
                                background-color: $gray-50;
                                @include transition;

                                .subitem-icon {
                                    color: $gray-400;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    @include transition;
                                }
                            }

                            .content-w {
                                flex: 1 1 auto;
                            }

                            .title {
                                display: block;
                                color: $gray-500;
                                font-weight: $font-semibold;
                            }

                            span {
                                position: absolute;
                                inset: 0;
                            }

                            .desc {
                                display: block;
                                margin-top: 0.5rem;
                                color: $gray-400;
                            }
                        }
                    }
                }

                .btn-wrapper {
                    .btn-full {
                        justify-content: center;
                        width: 100%;
                        height: 3rem;
                        box-sizing: border-box;

                        @include text-size(xl);
                    }
                }
            }
        }

        .sidebar-bg {
            position: absolute;
            z-index: 0;
            background-color: rgba(0, 0, 0, 0.25);
            width: 100%;
            height: 100vh;

            @include transition(250ms);

            &.active {
                visibility: visible;
                opacity: 1;
            }
            &.inactive {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}
