@use "../../base" as *;

.s-testimoni {
    position: relative;
    margin-top: 5rem;
    background-image: linear-gradient(to left, white, $gray-200, $gray-200);

    .container {
        padding: 2rem 0;
    }

    .flex {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        column-gap: 2rem;

        @include responsive($screen-md) {
            flex-direction: row;
        }

        > img {
            object-fit: contain;
            margin: 2.5rem 0;
            width: 100%;
            pointer-events: none;
            filter: drop-shadow(0 20px 15px rgba(0, 0, 0, 0.1));

            @include responsive($screen-md) {
                width: 50%;
            }
        }
    }

    .content-w {
        row-gap: 0.5rem;

        svg {
            position: absolute;
            margin-top: -3.5rem;
            height: fit-content;
            width: 3rem;
            color: $mid-blue;
        }

        .quote {
            padding: 1rem 2rem;
            z-index: 20;
            font-weight: $font-medium;
            @include text-size(xl);

            @include responsive($screen-sm) {
                @include text-size(2xl);
            }
        }

        .profile-w {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            column-gap: 1.25rem;
            padding: 0 2rem;

            img {
                height: 4rem;
                width: 4rem;
                border-radius: 9999px;
                object-fit: cover;
            }

            .name-w {
                display: grid;
                gap: 0.5rem;

                .name {
                    font-weight: $font-semibold;
                    @include text-size(xl);
                }

                .position {
                    color: $gray-500;
                    @include text-size(md);
                }
            }
        }
    }

    .slider {
        width: fit-content;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-self: center;
        rotate: -90deg;

        @include responsive($screen-md) {
            rotate: 0deg;
        }

        svg {
            height: fit-content;
            width: 0.5rem;
            color: $gray-400;
        }
    }
}
